// animation palette

@keyframes opacity-0-100 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-lr {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-rl {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}