// color palette

$white-std: #ffffff;

$black-dark: #000000;
$black-darker: #101010;
$black-std: #202020;
$black-lighter: #303030; 
$black-light: #404040;

$gray-dark: #5b5b5b;
$gray-darker: #999999;
$gray-std: #bcbcbc;
$gray-lighter: #eeeeee;
$gray-light: #f3f6f4;

$red-dark: #c90000;
$red-darker: #e10000;
$red-std: #ff0000;
$red-lighter: #ff5050;
$red-light: #ff8989;

$yellow-dark: #f2f700;
$yellow-darker: #fbff20;
$yellow-std: #fcff70;
$yellow-lighter: #fdffa0;
$yellow-light: #feffd0;