@import '../styles/animations.scss';
@import '../styles/colors.scss';

#HomeContainer {
  background-color: $black-dark;

  #HeroSection {
    position: relative;
    min-height: 100vh;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.35;
      background-image: url('../../public/images/banner_img_02.jpeg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
    }

    .ant-col {
      position: relative;
    }
  }

  .section-divider {
    background-color: $gray-dark;
    border-width: 2px;
  }
}